<template>
  <div class="main-test-wrapper">
    <el-button type="primary">测试element</el-button>
    <el-button type="success">成功按钮</el-button>
    <el-button type="success">成功按钮</el-button>
    <el-button type="success">成功按钮</el-button>
    <el-button type="primary">测试element</el-button>
    <i class="el-icon-share"></i>
    <i class="el-icon-share"></i>
    <i class="el-icon-share"></i>
    <i class="el-icon-share"></i>
    <el-input placeholder="hello"></el-input>
    <!-- 测试注释 github试试 -->
  </div>
</template>

<script>
export default {
  name: 'test'
};
</script>

<style lang="scss" scoped>
.main-test-wrapper {
  // height: 200px;
  // width: 200px;
  // border: 2px solid red;
}
</style>
